:root {
  --textBaseSize: 16px;
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorText: #1c1d1d;
  --colorModalBg: #fff;
  --colorModalOverlay: rgba(0, 0, 0, 0.85);
}

.button {
  line-height: 1.42;
  text-decoration: none;
  text-align: center;
  white-space: normal;

  font-size: var(--textBaseSize);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;

  display: inline-block;
  padding: 11px 20px;
  margin: 0;
  width: auto;
  min-width: 90px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--colorWhite);
  background: var(--colorBlack);
}

.i-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--is, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.i-close::after,
.i-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.i-close::after {
  transform: rotate(-45deg);
}

.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
  overflow: hidden;
}

.modal:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: overlay-on 0.5s forwards;
  cursor: pointer;
}

.modal--overlay {
  background-color: var(--colorModalOverlay);
}

.modal--is-active {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal__inner {
  width: 520px;
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  width: 520px;
}

.modal a,
.modal a:hover {
  color: inherit;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal__close:hover {
  opacity: 1;
}

.modal-open .modal .modal__inner {
  animation: modal-open 0.5s forwards;
}

.modal-closing .modal .modal__inner {
  animation: modal-closing 0.5s forwards;
}

@keyframes modal-open {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modal-closing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
